@import "style";

/* MAIN */
/* form */
#msform {
    width: calc(100% - 115px * 2);
    margin: 50px auto;
    text-align: center;
    position: relative;
    fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        // box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 90%;
        margin: 0 auto;
        // stacking fieldsets above each other
        position: relative;

        /*Hide all except first fieldset*/
        &:not(:first-of-type) {
            display: none;
        }
        .row {
            row-gap: 20px;
            .col-md-4 {
                text-align: left;
                > span {
                    color: red;
                }
                .form-label {
                    color: rgba(203, 203, 213, 1);
                    font-size: 14px;
                    font-weight: 500;
                }
                .form-select {
                    font-size: 14px;
                    color: rgba(203, 203, 213, 1);
                    &::selection {
                        color: #000;
                    }
                }
                .input-group {
                    .form-control {
                        border-right: none;
                    }
                    .input-group-addon {
                        border-left: none;
                        background-color: transparent;
                    }
                }
                .radio-check {
                    margin-bottom: 30px;
                    input[type="radio"] {
                        -webkit-appearance: none;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        outline: none;
                        border: 1px solid rgba(143, 198, 75, 1);
                        &::before {
                            content: "";
                            display: block;
                            width: 60%;
                            height: 60%;
                            margin: 20% auto;
                            border-radius: 50%;
                        }
                        &:checked {
                            border-color: rgba(143, 198, 75, 1);
                            &::before {
                                background-color: rgba(143, 198, 75, 1);
                            }
                        }
                    }
                }
                #pay-button {
                    margin-left: 16px;
                }
            }
        }
        .card {
            box-shadow: 0px 3px 5px rgba(203, 203, 213, 1);
            border-radius: 25px;
            padding: 20px;
            .card-header {
                background-color: transparent;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                img {
                    width: 42px;
                    height: 42px;
                }
                span {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 800;
                    margin-left: 36px;
                }
            }
            .card-body {
                background-color: transparent;
                font-size: 14px;
                .card-title {
                    text-align: left;
                    span {
                        font-weight: 800;
                    }
                }
                .card-text {
                    text-align: left;
                    font-size: 12px;
                }
                .card-price {
                    text-align: right;
                    color: rgba(151, 202, 75, 1);
                }
                .card-promotion {
                    color: rgba(255, 213, 4, 1);
                    text-align: right;
                }
            }
            .card-footer {
                background-color: transparent;
                height: 60px;
            }
        }
        #fs-next-1 {
            position: absolute;
            right: calc((100% - 200px) / 2);
            top: calc((100% - 60px));
        }
        .col-md-3 {
            position: relative;
            #fs-form-2 {
                display: none;
                transition: all ease-in-out 5s;
                .row {
                    row-gap: 20px;
                }
            }
        }
        .contract-reference {
            .checkboxes {
                margin-top: 55px;
                .form-check {
                    text-align: left;
                    .form-check-label {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .form-check-input {
                        &:checked {
                            background-color: rgba(143, 198, 75, 1);
                            border-color: rgba(143, 198, 75, 1);
                        }
                    }
                }
            }
        }
        .card-info-payment {
            background-color: rgba(245, 249, 254, 1);
            .card-body {
                .card-title {
                    margin-bottom: 30px;
                }
                > p {
                    font-size: 14;
                    color: rgba(147, 171, 208, 1);
                    span {
                        color: rgba(16, 16, 16, 100);
                    }
                }
                .card-value {
                    font-weight: 700;
                    p {
                        float: right;
                        color: rgba(143, 198, 75, 100);
                        line-height: 23px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    /*inputs*/
    > input,
    > textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 13px;
        margin-bottom: 10px;
        width: calc(100% / 3);
        box-sizing: border-box;
        font-family: montserrat;
        color: #2c3e50;
        font-size: 13px;
    }
    /*buttons*/
    .action-button {
        width: 200px;
        background: rgba(143, 198, 75, 1);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: white;
        border: 0 none;
        border-radius: 12px;
        cursor: pointer;
        padding: 10px 15px;

        &:hover,
        &:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
        }
    }
    .previous {
        border: 1px solid rgba(151, 202, 75, 100);
        background-color: #fff;
        color: #000;
    }
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: left;
    line-height: 20px;
    color: rgba(16, 16, 16, 100);
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
    display: none;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    // CSS counters to number the steps
    counter-reset: step;
    padding-left: 0%;
    li {
        list-style-type: none;
        color: rgba(203, 203, 213, 1);
        font-size: 14px;
        width: 25%;
        float: left;
        position: relative;
        &.active {
            color: rgba(143, 198, 75, 1);
            /*marking active/completed steps blue*/
            /*The number of the step and the connector before it = blue*/
            &::before,
            &::after {
                background: rgba(143, 198, 75, 1);
                color: white;
            }
        }
        &::before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #000;
            background: rgba(203, 203, 213, 1);
            border-radius: 50%;
            margin: 0 auto 5px auto;
        }
        /*progressbar connectors*/
        &::after {
            content: "";
            width: 90%;
            height: 2px;
            background: rgba(203, 203, 213, 1);
            position: absolute;
            left: -45%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }
        &:first-child::after {
            // connector not needed before the first step
            content: none;
        }
    }
}

/* end MAIN */
