@import "style";

/* MAIN */
/* form */
#msform {
    width: 1440px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        // stacking fieldsets above each other
        position: relative;

        /*Hide all except first fieldset*/
        &:not(:first-of-type) {
            display: none;
        }
    }
    /*inputs*/
    input,
    textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2c3e50;
        font-size: 13px;
    }
    /*buttons*/
    .action-button {
        width: 100px;
        background: #27ae60;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;

        &:hover,
        &:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
        }
    }
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    // CSS counters to number the steps
    counter-reset: step;
    padding-left: 0%;
    li {
        list-style-type: none;
        color: rgba(203, 203, 213, 1);
        text-transform: uppercase;
        font-size: 14px;
        width: 25%;
        float: left;
        position: relative;
        &.active {
            color: #4387f3;
            /*marking active/completed steps blue*/
            /*The number of the step and the connector before it = blue*/
            &::before,
            &::after {
                background: #4387f3 1%;
                color: white;
            }
        }
        &::before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #000;
            background: rgba(203, 203, 213, 1);
            border-radius: 50%;
            margin: 0 auto 5px auto;
        }
        /*progressbar connectors*/
        &::after {
            content: "";
            width: 90%;
            height: 2px;
            background: rgba(203, 203, 213, 1);
            position: absolute;
            left: -45%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }
        &:first-child::after {
            // connector not needed before the first step
            content: none;
        }
    }
}

/* end MAIN */
