@import "style";

.login {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
        padding: 0 35px 0 50px;
        box-shadow: -7px 9px 40px rgb(0 0 0 / 50%);
        width: 100%;
        max-width: 380px;
        height: 450px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    &-logo {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
    &-heading {
        font-size: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    &-label {
        font-size: 11px;
        padding-bottom: 5px;
    }
    &-gruop {
        padding-bottom: 10px;
    }
    &-content {
        & > i {
            color: rgba($color: #000000, $alpha: 0.5);
            padding-right: 5px;
        }
        padding: 10px;
        border: 1px solid #f5f5f5;
        border-radius: 10px;
        font-size: 11px;
        display: flex;
        align-items: center;
    }
    &-input {
        color: #aaa6a6;
        border: none;
        outline: none;
        width: 100%;
    }
    &-submit {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        & button {
            color: white;
            background-color: #8FC64B  ;
            border: none;
            outline: none;
            border-radius: 10px;
            padding: 5px 100px;
        }
    }
}
