@import 'style';

main {
    .container-fluid {
        .container {
            .row {
                .box {
                    margin: 191px 0px 161px 53px;
                    width: 400px;
                    height: 260px;

                    line-height: 20px;
                    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
                    border-radius: 20px;
                    border: 1px solid rgba(187, 187, 187, 100);

                    div.title {
                        margin: 27px 0px 0px 121px;
                        width: 151px;
                        height: 44px;
                        color: rgba(143, 198, 75, 100);
                        
                        font-style: normal;
                        font-size: 20px;
                        text-align: center;
                        font-family: Arial; 
                        font-weight: 600;
                    }

                    .icon {
                        height: 74px;
                        width: 74px;
                        margin: 48px 0px 0px 37px;
                        float: left;
                    }
                    .scription {
                        width: max-content;
                        margin: 67px 139px 104px 123px;

                        line-height: 5px;
                        text-align: left;
                        font-family: Roboto;
                        
                        .title{
                            font-weight: 600;
                            font-size: 14px;
                        }
                        .content{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}