@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto";
}

.container-fluid {
  max-width: calc(100% - 230px);
}

/* HEADER */
.navbar .container-fluid .navbar-collapse {
  justify-content: flex-end;
}
.navbar .container-fluid .navbar-collapse .navbar-nav {
  align-items: center;
  column-gap: 42px;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:not(:last-of-type) .nav-link {
  height: 47px;
  width: 110px;
  background: #8fc64b 100%;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:not(:last-of-type) .nav-link.active {
  background: #70ae23 100%;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-toggle {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(16, 16, 16);
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-toggle::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  border: none;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-toggle > i {
  background-color: rgb(170, 166, 166);
  height: 51px;
  width: 51px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: rgb(16, 16, 16);
}

/* end HEADER */
/* FOOTER */
footer .container-fluid .row .navbar-brand {
  width: fit-content;
}
footer .container-fluid .row .logo-title {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .container-fluid .row .logo-title p {
  margin-bottom: 3px;
  line-height: 20px;
  color: rgb(16, 16, 16);
  font-size: 14px;
  letter-spacing: 0.03rem;
}
footer .container-fluid .row .col .footer-thread {
  line-height: 20px;
  color: rgb(16, 16, 16);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03rem;
  margin-bottom: 16px;
}
footer .container-fluid .row .col > ul {
  list-style: none;
  padding-left: 0%;
}
footer .container-fluid .row .col > ul li {
  margin-bottom: 5px;
  line-height: 19px;
  color: rgb(16, 16, 16);
  font-size: 13px;
  letter-spacing: 0.03rem;
}
footer .container-fluid .row .col > ul li a {
  text-decoration: none;
  margin-bottom: 5px;
  line-height: 19px;
  color: rgb(16, 16, 16);
  font-size: 13px;
  letter-spacing: 0.03rem;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}
footer .container-fluid .row .col > ul li a:hover {
  text-decoration: underline;
}
footer .container-fluid .row .col:last-of-type ul li {
  display: flex;
  column-gap: 22px;
  margin-top: 23px;
}
footer .container-fluid .row .col:last-of-type ul li:last-of-type a {
  margin: 0;
}
footer .container-fluid .row .col:last-of-type ul li:last-of-type a i {
  font-size: 24px;
}

/* end FOOTER */
main .container-fluid .container .form {
  width: 476px;
  height: 576px;
  margin: auto;
  margin-top: 145px;
}
main .container-fluid .container .form .icon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
main .container-fluid .container .form .icon .iconClose {
  margin-right: -40px;
}
main .container-fluid .container .form .icon .iconClose:hover {
  box-shadow: 0px 0px 15px 0px #8FC64B;
  border-radius: 50%;
}
main .container-fluid .container .form .title {
  font-style: normal;
  font-size: 24px;
  font-family: Arial;
  font-weight: 600;
}
main .container-fluid .container .form .content {
  margin-top: 20px;
  font-style: normal;
  font-size: 18px;
  font-family: Arial;
}
main .container-fluid .container .form .form-group {
  line-height: 20px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
}
main .container-fluid .container .form .form-group .form-control {
  border-radius: 3px;
}
main .container-fluid .container .form .btn {
  width: 215px;
  height: 51px;
  margin: 170px 0px 0px 228px;
  border-radius: 10px;
  background-color: rgb(143, 198, 75);
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  font-family: Roboto;
}

/*# sourceMappingURL=kyc1.css.map */
